<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jeppeman.jetpackplayground.home">

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".presentation.HomeActivity" />
        <activity android:name=".presentation.download.DownloadActivity"
            android:theme="@style/Theme.Transparent" />
    </application>

    <dist:module
        dist:instant="false"
        dist:title="@string/title_feature_home">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
</manifest>

