<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jeppeman.jetpackplayground.video">

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".test.TestActivity" />
    </application>

    <dist:module
        dist:instant="false"
        dist:title="@string/title_feature_video">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
</manifest>