<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jeppeman.jetpackplayground.video">

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".presentation.VideoActivity" />
    </application>
</manifest>